.head-txt {
  font-size: 70px;
  margin-bottom: 30px;
  font-family: "Sedgwick Ave Display";
}
.intro-img {
  width: 40vw;
  height: 40vw;
}
.conc-txt {
  margin-top: 150px;
}
.contact-item {
  font-size: 25px;
}
